.container {
    margin: 0px;
}

.row {
    margin-left: 0px;
}

header {
    width: 100%;
    background-color: rgb(33, 33, 135);
    color: white;
    text-indent: 50%;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

.sidenav-container {
    margin-left: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.btn-primary {
    width: 100%;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.btn-secondary {
    width: 100%;
    margin-bottom: 3%;
}

.current-weather {
    margin: auto;
    border: solid;
    border-width: 2px;
    margin-bottom: 4%;
    padding-left: 10px;
    padding-top: 10px;
}

.initial-weather-content {
    align-items:  center;
    font-size: 18px;
}

#weatherIcon {
    width: 50px;
    height: 50px;
}


.day-forecast-box {
    border: solid;  
    border-width: 1px;
    background-color: rgb(27, 27, 90);
    color: white;
    margin-right: .9%;
    width: 19%;
}  

.card-body {
    padding-left: 10px;
}

.futureWeatherIcon {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 992px) {
    .day-forecast-box {
        margin-right: .9%;
        width: 19%;
    }
  }
  

@media screen and (max-width: 768px) {
    .day-forecast-box {
        margin-right: .9%;
        width: 32%;
    }
  }
  

@media screen and (max-width: 576px) {
    .day-forecast-box {
        margin-right: .9%;
        width: 49%;
    }
  }
  